/* Form */
.form-label {
  margin-bottom: 1.5rem;
  font-size: theme("fontSize.sm");
  color: rgb(35, 27, 51, 0.8);
}

.form-label span {
  display: block;
  margin-bottom: 1.1rem;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
  color: rgb(35, 27, 51, 0.5);
}

input[type="text"]:focus,
input[type="email"]:focus {
  @apply ring-green-700;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
  border: 0;
  border-radius: 0.1875rem;
  box-shadow: 0px 0.820491px 5.46994px rgba(0, 0, 0, 0.0934511),
    0px 0.341425px 2.27617px rgba(0, 0, 0, 0.13);
}

input[type="submit"] {
  @apply mt-3 rounded-full bg-gray px-8 py-3 font-semibold;
}

.wpcf7-spinner {
  display: none;
}

.wpcf7 form .wpcf7-response-output {
  margin: 2rem 0 0 0;
  padding: 0.8rem 1rem;
  font-weight: 600;
  border-radius: 0.1875rem;
}

@screen sm {
  .wpcf7 form .wpcf7-response-output {
    margin: 2rem 0;
  }
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.failed .wpcf7-response-output {
  color: #dc3232;
  background-color: rgba(220, 50, 50, 0.1);
  border-color: transparent;
}

.wpcf7 form.sent .wpcf7-response-output {
  color: #12736c;
  background-color: rgba(18, 115, 108, 0.1);
  border-color: transparent;
}
